trigger:
- main

resources:
- repo: self

variables:
  dockerRegistryServiceConnection: '44896305-bb29-44ac-bbe4-93cfea0c3371'
  imageRepository: 'pavanpatilshippingratecalculator'
  containerRegistry: 'losgisticsprod.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  tag: '$(Build.BuildId)'
  vmImageName: 'logistics'

stages:
- stage: Build
  displayName: SonarQube + Docker Build
  jobs:
  - job: Build
    displayName: Quality Check and Build
    pool:
      name: $(vmImageName)

    steps:
    - checkout: self

    # -------------------------------
    # SonarQube - Prepare
    # -------------------------------
    - task: SonarQubePrepare@8
      displayName: SonarQube Prepare
      inputs:
        SonarQube: 'kvm-sonarqube'
        scannerMode: 'cli'
        configMode: 'manual'
        cliProjectKey: 'logistics-shipping-rate-calculator'
        cliProjectName: 'shipping-rate-calculator'
        cliProjectVersion: '1.0.$(Build.BuildId)'
        cliSources: '.'

    # -------------------------------
    # SonarQube - Analyze
    # -------------------------------
    - task: SonarQubeAnalyze@8
      displayName: SonarQube Analyze
      inputs:
        jdkversion: 'JAVA_HOME_17_X64'

    # -------------------------------
    # SonarQube - Quality Gate
    # -------------------------------
    - task: SonarQubePublish@8
      displayName: SonarQube Quality Gate
      inputs:
        pollingTimeoutSec: '300'

    # -------------------------------
    # Docker Build & Push
    # -------------------------------
    - task: Docker@2
      displayName: Build and push Docker image
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
