trigger:
- main

pr:
- main

resources:
- repo: self

variables:
  dockerRegistryServiceConnection: '44896305-bb29-44ac-bbe4-93cfea0c3371'
  imageRepository: 'pavanpatilshippingratecalculator'
  containerRegistry: 'losgisticsprod.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  tag: '$(Build.BuildId)'
  vmImageName: 'logistics'

stages:
- stage: QualityAndBuild
  displayName: SonarCloud Quality Gate + Docker Build
  jobs:
  - job: Build
    displayName: Quality Check and Build
    pool:
      name: $(vmImageName)

    steps:
    # -------------------------------------------------
    # 1. Checkout (FULL history required for blame)
    # -------------------------------------------------
    - checkout: self
      fetchDepth: 0
      clean: true

    # -------------------------------------------------
    # 2. SonarCloud - Prepare Analysis
    # -------------------------------------------------
    - task: SonarCloudPrepare@4
      inputs:
        SonarQube: 'sonarcloud'
        organization: 'techwithpatil'
        scannerMode: 'cli'
        configMode: 'manual'
        cliProjectKey: 'techwithpatil_logistics'
        cliProjectName: 'logistics'
        cliSources: '.'

    # -------------------------------------------------
    # 3. SonarCloud - Analyze Code
    # -------------------------------------------------
    - task: SonarCloudAnalyze@4
      inputs:
        jdkversion: 'JAVA_HOME_17_X64'

    # -------------------------------------------------
    # 4. SonarCloud - Enforce Quality Gate
    # -------------------------------------------------
    - task: SonarCloudPublish@4
      inputs:
        pollingTimeoutSec: '300'

    # -------------------------------------------------
    # 5. Docker Build & Push (ONLY if quality passed)
    # -------------------------------------------------
    - task: Docker@2
      displayName: Build and push Docker image
      condition: succeeded()
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
