trigger:
- main

pr:
- main

resources:
- repo: self

variables:
  dockerRegistryServiceConnection: '44896305-bb29-44ac-bbe4-93cfea0c3371'
  imageRepository: 'pavanpatilshippingratecalculator'
  containerRegistry: 'losgisticsprod.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  tag: '$(Build.BuildId)'
  vmImageName: 'logistics'

stages:
- stage: QualityAndBuild
  displayName: SonarCloud Quality Gate + Docker Build
  jobs:
  - job: Build
    displayName: Quality Check and Build
    pool:
      name: $(vmImageName)

    steps:
    # -------------------------------------------------
    # 1. Checkout (FULL history required for blame)
    # -------------------------------------------------
    - checkout: self
      fetchDepth: 0
      clean: true

    # -------------------------------------------------
    # 2. SonarCloud - Prepare Analysis
    # -------------------------------------------------
    - task: SonarCloudPrepare@4
      inputs:
        SonarQube: 'sonarcloud'
        organization: 'techwithpatil'
        scannerMode: 'cli'
        configMode: 'manual'
        cliProjectKey: 'techwithpatil_logistics'
        cliProjectName: 'logistics'
        cliSources: '.'

    # -------------------------------------------------
    # 3. SonarCloud - Analyze Code
    # -------------------------------------------------
    - task: SonarCloudAnalyze@4
      inputs:
        jdkversion: 'JAVA_HOME_17_X64'

    # -------------------------------------------------
    # 4. SonarCloud - Enforce Quality Gate
    # -------------------------------------------------
    - task: SonarCloudPublish@4
      inputs:
        pollingTimeoutSec: '300'
      
    # -------------------------------------------------
    # 4. SnykCloud - Application dependencies scan
    # -------------------------------------------------
    - task: SnykSecurityScan@1
      inputs:
        serviceConnectionEndpoint: 'snyk-cloud'
        testType: 'app'
        severityThreshold: 'high'
        monitorWhen: 'always'
        failOnIssues: true

    # -------------------------------------------------
    # 4. SnykCloud - Application code scan
    # -------------------------------------------------
    - task: SnykSecurityScan@1
      inputs:
        serviceConnectionEndpoint: 'snyk-cloud'
        testType: 'code'
        codeSeverityThreshold: 'high'
        failOnIssues: true

# --------------------------------
# Docker Build (LOCAL only)
# --------------------------------
    - task: Docker@2
      displayName: Docker Build
      condition: succeeded()
      inputs:
        command: build
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)

    - task: SnykSecurityScan@1
      inputs:
        serviceConnectionEndpoint: 'snyk-cloud'
        testType: 'container'
        dockerImageName: '$(imageRepository):$(tag)'
        severityThreshold: 'critical'
        monitorWhen: 'always'
        failOnIssues: true
# --------------------------------
# Docker Push (ONLY if scan passed)
# --------------------------------
    - task: Docker@2
      displayName: Docker Push
      condition: succeeded()
      inputs:
        command: push
        repository: $(imageRepository)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
